name: Deploy to AWS EKS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Authenticate to AWS using access keys
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply (EKS + ECR)
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
            -var="aws_region=${{ vars.AWS_REGION }}" \
            -var="cluster_name=${{ vars.EKS_CLUSTER_NAME }}" \
            -var="ecr_repo_name=${{ vars.ECR_REPO_NAME }}"

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Docker image
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          IMAGE_URI="${ACCOUNT_ID}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com/${{ vars.ECR_REPO_NAME }}:${GITHUB_SHA}"
          echo "IMAGE_URI=${IMAGE_URI}" >> $GITHUB_ENV

          docker build -t "${IMAGE_URI}" .
          docker push "${IMAGE_URI}"

      - name: Configure kubectl for EKS
        run: |
          aws eks update-kubeconfig \
            --region ${{ vars.AWS_REGION }} \
            --name ${{ vars.EKS_CLUSTER_NAME }}
          kubectl get nodes

      - name: Deploy to Kubernetes
        run: |
          sed "s|IMAGE_PLACEHOLDER|${IMAGE_URI}|g" k8s/deployment.yaml | kubectl apply -f -
          kubectl apply -f k8s/service.yaml

      - name: Wait for Service External URL
        run: |
          for i in {1..60}; do
            HOST=$(kubectl get svc static-website-svc -o jsonpath='{.status.loadBalancer.ingress[0].hostname}' || true)
            if [ -n "$HOST" ]; then
              echo "Website URL: http://${HOST}"
              exit 0
            fi
            echo "Waiting for LoadBalancer..."
            sleep 10
          done
          kubectl get svc -o wide
          exit 1
